body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.center-child-text *  {
  text-align: center;
}

li+li {
  border-left: 1px solid gray;
}

.relative{
  position:relative;
  width:100%;
}
.absolute-text{
  position:absolute;
  top:0;
  font-size:36px;
  color: white;
  font-family:"vedana";
  padding:25px 20px;
  width:100%;
}
.absolute-text a{
  font-size:16px;
  color:#b92b27;
}

.inline {
  display: inline;
}

nav li a {
  color: gray;
}

.nav>li>a {
  padding: 5px 15px;
}

.nav-pills li.active a {
  color: black !important;
  background-color:white !important;
}

ul.nav a:hover {
  color: black !important;
  background-color:white !important;
  }

.nav-pills li.focus a {
}

.feature > img {
    /*width: 350px;*/
}

.bold {
  font-family: 'Roboto Slab', serif;
}

#canon-header {
  padding-bottom: 30px;
}

footer {
  text-align: center;
  color: gray;
}

.gray {
  background-color:gray;
}


hr {
    display: block;
    margin-top: 25pfx;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 100%;
    color: gray;
}

.header-image {
    position:relative;
    padding-bottom: 25px;
}

.header-text {
    font-family: 'Roboto Slab', serif;
    left: 20px;
    position:absolute;
    top: 33%;
    bottom: 33%;
    color: white;
    width: 100%;
    font-size: 26px;
}

#attribution {
  font-size: 15px;
}
